<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:usesCleartextTraffic="true"
            android:name="dev.zwander.common.App">
        <activity android:name="dev.zwander.android.MainActivity" android:exported="true"
                  android:configChanges="colorMode
                  |density
                  |fontScale
                  |fontWeightAdjustment
                  |keyboard
                  |keyboardHidden
                  |layoutDirection
                  |locale
                  |mcc
                  |mnc
                  |navigation
                  |orientation
                  |screenLayout
                  |screenSize
                  |smallestScreenSize
                  |touchscreen
                  |uiMode"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.bugsnag.android.API_KEY"
            android:value="462792f423289145bdd224a4450373ef"/>
    </application>
</manifest>
